graft doc
graft tools
prune sfepy/examples/*/output
prune sfepy/examples/*/*/output
prune doc/_build
prune sfepy/tests/.pytest_cache
recursive-exclude _skbuild *
exclude doc/logo/*.vtk
exclude doc/publish.py
exclude doc/sfepy_manual.pdf
exclude sfepy/__config__.py
exclude sfepy/discrete/__config__.py

include AUTHORS MANIFEST.in README.rst Makefile site_cfg_template.py
include pyproject.toml
include CMakeLists.txt
recursive-include sfepy CMakeLists.txt

include sfepy/discrete/common/extmods/version.h.in
include sfepy/discrete/common/extmods/common.h
include sfepy/discrete/common/extmods/common_python.c
include sfepy/discrete/common/extmods/fmfield.[ch]
include sfepy/discrete/common/extmods/geommech.[ch]
include sfepy/discrete/common/extmods/geomtrans.[ch]
include sfepy/discrete/common/extmods/mesh.[ch]
include sfepy/discrete/common/extmods/meshutils.[ch]
include sfepy/discrete/common/extmods/refcoors.[ch]
include sfepy/discrete/common/extmods/refmaps.h
include sfepy/discrete/common/extmods/sort.[ch]
include sfepy/discrete/common/extmods/types.h

include sfepy/discrete/fem/extmods/lagrange.[ch]
include sfepy/discrete/fem/extmods/lobatto*.[ch]
include sfepy/discrete/fem/extmods/lobatto1d_template.[ch]

include sfepy/discrete/iga/extmods/nurbs.[ch]

include sfepy/terms/extmods/*.[ch]
include sfepy/mechanics/extmods/contres.[ch]

include sfepy/solvers/matlab_eig.m

recursive-include sfepy *.pyx *.pxd
global-exclude *.py[cod]
