graft doc
prune examples/*/output
prune examples/*/*/output
prune doc/_build
prune doc/html
exclude doc/logo/*.vtk
exclude doc/publish.py

include sfepy/fem/extmods/lobatto1d_template.c
include sfepy/fem/extmods/lobatto1d_template.h
include sfepy/fem/extmods/version.h.in
